/*@font-face {
    font-family: "BreakingBad";
    src:
        local("BreakingBad"), 
        url("recursos/Breaking Bad.ttf") format("truetype");
        font-style: normal;
        font-weight: normal;
        
}*/
#principal{
    text-align: center;

    background: url(img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    overflow: hidden;
}
h1{
    color: white;
    font-size: 30px;
    font-family: "BreakingBad";
}
#poster{
    width: 700px;
    height: 300px;
    border: 10px outset brown;
    border-radius: 22px 22px 22px 22px;
}

/* TABLA */

#body_tabla{
    background-image: url(img/cabecera.png);
    background-repeat: no-repeat;
    background-position: top;
    background-color: #0c3e11;
}
#tabla{
    font-family: Helvetica;
    background-color: black;
    position: relative;
}
.grande{
    font-size: 14px;
}
.peque{
    font-size: 10px;
}

.verde{
    background-color: rgba(184,217,36,255);
}
.dosColores{
    background-color: linear-gradient(90deg,#FF8,#F8F);
}
.verdoso{
    background-color: rgba(188,195,159,255);
}
.verdecito{
    background-color: rgba(199,226,76,255);
}
.claro{
    background-color: rgba(238,246,199,255);
}

.doble{
    width: auto;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.doble img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}